/* Global page styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

/* Image styling */
img {
  max-width: 100%;
  height: auto;
}

/* Copyright notice */
.copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: #333;
}

/* 'About' link styling */
.about-link {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  z-index: 1000;
}
.about-link:hover {
  color: #888;
}
